/* 
.container{
    display: flex;
    flex-direction:column;
    width: 100%;
    margin: 10px 0;
}

.head{
    display: flex;
    border: 1px solid;
}
.main{
    display: flex;
    border: 1px solid;
}
.main .content{
   flex: 1 auto;

   border: 1px solid;
}
.main.sidebara{
    display: inline-flex;
    border: 1px solid;
}

.main.sidebarb{
    display: inline-flex;
    border: 1px solid;
}

.footer{
    display: flex;
    border: 1px solid;
}

 */
