.logo{
    position: relative;
    display: flex;
    width: 150px;
    height: 3.5rem;
    margin-left: 1rem;
    padding-top: 10px;
}
.logo .logoImage{
    display: flex;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border-radius: 40%;
}


.logo .txt{
    display: flex;
    font-weight: bold;
    font-size: 1.4rem;
    vertical-align: middle;
}