.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search{
    padding-bottom: 1rem;
}

.leftmenu{
    background-color: #485fc7;
}

.posts{
    margin: 0  2rem;
}